<div id="mySidenav" class="sidenav">
  <a href="https://uit-econ.github.io/">Hovedside bachelor</a>
  <a href="index.html" target="blank">Hjem</a>
  <a href="forelesningsplan.html" style="font-size:18px"> - Forelesnings- og seminarplan</a>
  <a href="forelesninger.html" style="font-size:18px"> - Forelesningsnotater</a>
  <a href="video.html" style="font-size:18px"> - Videoer</a>
  <a href="seminarplan.html" style="font-size:18px"> - Seminaroppgaver</a>
  <a href="temaer.html">Temaer/moduler</a>
  <a href="mappeevaluering.html">Innleveringer</a>
  <a href="mappeevaluering.html#frister" style="font-size:18px"> - Frister</a>
  <a href="mappeevaluering.html">Mappeevaluering</a>
  <a href="muntligeksamen.html">Muntlig eksamen</a>
</div>
